.App {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  flex: 1;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
  flex: 1;
}

.App-intro {
  font-size: large;
  flex: 1;
}

.content{
  padding-top: 40px ;
  padding-left: 10%;
  padding-right: 10%;
}

.myNav{
  background: #ff6961 !important;
  color: white !important;
}

.myBrand{
  text-decoration: none !important;
  color: white !important;

}

.video {

  padding: 15px;
  margin: 15px;
  text-align: center;
}

.video img{
  width: 100%;
}

.active-video{
  background-color: rgb(66,171,158);
  color: white;
}

.video-thumbs{
  margin-left: 20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
